<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spongeli.shoppingmall.pojo.dao.MallGoodsMapper">
  <resultMap id="BaseResultMap" type="com.spongeli.shoppingmall.pojo.model.MallGoods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="cate_id" jdbcType="INTEGER" property="cateId" />
    <result column="cate_name" jdbcType="VARCHAR" property="cateName" />
    <result column="goods_hots_label" jdbcType="VARCHAR" property="goodsHotsLabel" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_weight" jdbcType="DOUBLE" property="goodsWeight" />
    <result column="goods_original_price" jdbcType="DECIMAL" property="goodsOriginalPrice" />
    <result column="goods_header_img" jdbcType="VARCHAR" property="goodsHeaderImg" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="scan_count" jdbcType="INTEGER" property="scanCount" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="goods_status" jdbcType="TINYINT" property="goodsStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.spongeli.shoppingmall.pojo.model.MallGoods">
    <result column="goods_detail" jdbcType="LONGVARCHAR" property="goodsDetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, cate_id, cate_name, goods_hots_label, goods_name, goods_price, goods_weight, 
    goods_original_price, goods_header_img, goods_count, scan_count, sales_count, goods_status, 
    create_time
  </sql>
  <sql id="Blob_Column_List">
    goods_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mall_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoodsExample">
    delete from mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoods">
    <selectKey keyProperty="goodsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_goods (cate_id, cate_name, goods_hots_label, 
      goods_name, goods_price, goods_weight, 
      goods_original_price, goods_header_img, goods_count, 
      scan_count, sales_count, goods_status, 
      create_time, goods_detail)
    values (#{cateId,jdbcType=INTEGER}, #{cateName,jdbcType=VARCHAR}, #{goodsHotsLabel,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, #{goodsWeight,jdbcType=DOUBLE}, 
      #{goodsOriginalPrice,jdbcType=DECIMAL}, #{goodsHeaderImg,jdbcType=VARCHAR}, #{goodsCount,jdbcType=INTEGER}, 
      #{scanCount,jdbcType=INTEGER}, #{salesCount,jdbcType=INTEGER}, #{goodsStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{goodsDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoods">
    <selectKey keyProperty="goodsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cateId != null">
        cate_id,
      </if>
      <if test="cateName != null">
        cate_name,
      </if>
      <if test="goodsHotsLabel != null">
        goods_hots_label,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="goodsOriginalPrice != null">
        goods_original_price,
      </if>
      <if test="goodsHeaderImg != null">
        goods_header_img,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="scanCount != null">
        scan_count,
      </if>
      <if test="salesCount != null">
        sales_count,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cateId != null">
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="cateName != null">
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="goodsHotsLabel != null">
        #{goodsHotsLabel,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="goodsOriginalPrice != null">
        #{goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsHeaderImg != null">
        #{goodsHeaderImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="scanCount != null">
        #{scanCount,jdbcType=INTEGER},
      </if>
      <if test="salesCount != null">
        #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoodsExample" resultType="java.lang.Long">
    select count(*) from mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_goods
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.cateId != null">
        cate_id = #{record.cateId,jdbcType=INTEGER},
      </if>
      <if test="record.cateName != null">
        cate_name = #{record.cateName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsHotsLabel != null">
        goods_hots_label = #{record.goodsHotsLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsOriginalPrice != null">
        goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsHeaderImg != null">
        goods_header_img = #{record.goodsHeaderImg,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCount != null">
        goods_count = #{record.goodsCount,jdbcType=INTEGER},
      </if>
      <if test="record.scanCount != null">
        scan_count = #{record.scanCount,jdbcType=INTEGER},
      </if>
      <if test="record.salesCount != null">
        sales_count = #{record.salesCount,jdbcType=INTEGER},
      </if>
      <if test="record.goodsStatus != null">
        goods_status = #{record.goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsDetail != null">
        goods_detail = #{record.goodsDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update mall_goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      cate_id = #{record.cateId,jdbcType=INTEGER},
      cate_name = #{record.cateName,jdbcType=VARCHAR},
      goods_hots_label = #{record.goodsHotsLabel,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      goods_header_img = #{record.goodsHeaderImg,jdbcType=VARCHAR},
      goods_count = #{record.goodsCount,jdbcType=INTEGER},
      scan_count = #{record.scanCount,jdbcType=INTEGER},
      sales_count = #{record.salesCount,jdbcType=INTEGER},
      goods_status = #{record.goodsStatus,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      goods_detail = #{record.goodsDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      cate_id = #{record.cateId,jdbcType=INTEGER},
      cate_name = #{record.cateName,jdbcType=VARCHAR},
      goods_hots_label = #{record.goodsHotsLabel,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      goods_header_img = #{record.goodsHeaderImg,jdbcType=VARCHAR},
      goods_count = #{record.goodsCount,jdbcType=INTEGER},
      scan_count = #{record.scanCount,jdbcType=INTEGER},
      sales_count = #{record.salesCount,jdbcType=INTEGER},
      goods_status = #{record.goodsStatus,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoods">
    update mall_goods
    <set>
      <if test="cateId != null">
        cate_id = #{cateId,jdbcType=INTEGER},
      </if>
      <if test="cateName != null">
        cate_name = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="goodsHotsLabel != null">
        goods_hots_label = #{goodsHotsLabel,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="goodsOriginalPrice != null">
        goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsHeaderImg != null">
        goods_header_img = #{goodsHeaderImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="scanCount != null">
        scan_count = #{scanCount,jdbcType=INTEGER},
      </if>
      <if test="salesCount != null">
        sales_count = #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoods">
    update mall_goods
    set cate_id = #{cateId,jdbcType=INTEGER},
      cate_name = #{cateName,jdbcType=VARCHAR},
      goods_hots_label = #{goodsHotsLabel,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      goods_header_img = #{goodsHeaderImg,jdbcType=VARCHAR},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      scan_count = #{scanCount,jdbcType=INTEGER},
      sales_count = #{salesCount,jdbcType=INTEGER},
      goods_status = #{goodsStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spongeli.shoppingmall.pojo.model.MallGoods">
    update mall_goods
    set cate_id = #{cateId,jdbcType=INTEGER},
      cate_name = #{cateName,jdbcType=VARCHAR},
      goods_hots_label = #{goodsHotsLabel,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      goods_header_img = #{goodsHeaderImg,jdbcType=VARCHAR},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      scan_count = #{scanCount,jdbcType=INTEGER},
      sales_count = #{salesCount,jdbcType=INTEGER},
      goods_status = #{goodsStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>