<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spongeli.shoppingmall.pojo.dao.MallCateParamsMapper">
  <resultMap id="BaseResultMap" type="com.spongeli.shoppingmall.pojo.model.MallCateParams">
    <id column="attr_id" jdbcType="INTEGER" property="attrId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="attr_type" jdbcType="VARCHAR" property="attrType" />
    <result column="attr_status" jdbcType="TINYINT" property="attrStatus" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    attr_id, attr_name, attr_type, attr_status, attr_value, create_time
  </sql>
  <select id="selectByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParamsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_cate_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_cate_params
    where attr_id = #{attrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_cate_params
    where attr_id = #{attrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParamsExample">
    delete from mall_cate_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParams">
    <selectKey keyProperty="attrId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_cate_params (attr_name, attr_type, attr_status, 
      attr_value, create_time)
    values (#{attrName,jdbcType=VARCHAR}, #{attrType,jdbcType=VARCHAR}, #{attrStatus,jdbcType=TINYINT}, 
      #{attrValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParams">
    <selectKey keyProperty="attrId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mall_cate_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrName != null">
        attr_name,
      </if>
      <if test="attrType != null">
        attr_type,
      </if>
      <if test="attrStatus != null">
        attr_status,
      </if>
      <if test="attrValue != null">
        attr_value,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null">
        #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="attrStatus != null">
        #{attrStatus,jdbcType=TINYINT},
      </if>
      <if test="attrValue != null">
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParamsExample" resultType="java.lang.Long">
    select count(*) from mall_cate_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_cate_params
    <set>
      <if test="record.attrId != null">
        attr_id = #{record.attrId,jdbcType=INTEGER},
      </if>
      <if test="record.attrName != null">
        attr_name = #{record.attrName,jdbcType=VARCHAR},
      </if>
      <if test="record.attrType != null">
        attr_type = #{record.attrType,jdbcType=VARCHAR},
      </if>
      <if test="record.attrStatus != null">
        attr_status = #{record.attrStatus,jdbcType=TINYINT},
      </if>
      <if test="record.attrValue != null">
        attr_value = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_cate_params
    set attr_id = #{record.attrId,jdbcType=INTEGER},
      attr_name = #{record.attrName,jdbcType=VARCHAR},
      attr_type = #{record.attrType,jdbcType=VARCHAR},
      attr_status = #{record.attrStatus,jdbcType=TINYINT},
      attr_value = #{record.attrValue,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParams">
    update mall_cate_params
    <set>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null">
        attr_type = #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="attrStatus != null">
        attr_status = #{attrStatus,jdbcType=TINYINT},
      </if>
      <if test="attrValue != null">
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spongeli.shoppingmall.pojo.model.MallCateParams">
    update mall_cate_params
    set attr_name = #{attrName,jdbcType=VARCHAR},
      attr_type = #{attrType,jdbcType=VARCHAR},
      attr_status = #{attrStatus,jdbcType=TINYINT},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
</mapper>